<a href="https://colab.research.google.com/github/Harl-Melendez/OOP_58001/blob/main/Fundamentals_of_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [2]:
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

Phyton Comment

In [3]:
#this is a comment
print("hello, world")

hello world

Phyton variables

In [5]:
#single variable with single value
x = 1
#single variable with multiple values 
array = [1,2,3]
print (array)

#mulitple variables with single value
a = b = c = "Harl"
print (a)
print (b)
print (c)

[1, 2, 3]
Harl
Harl
Harl

Casting

In [6]:
n = int (4)
print(n)

4

Type function

In [7]:
c = "Harl"
d = 5.6
print (type(c))
print (type(d))

<class 'str'>
<class 'float'>